./node_modules
./dist
./coverage
./.nyc_output
./.DS_Store
./.env
./.env.development
./.env.production
./.env.test
./.env.local
./.env.development.local
node_modules/
package-lock.json
npm-debug.log*
dist


# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.ncb
*.ninja
*.ninja_log
*.sln.docstates
*.sln.docstates.xml
*.user
*.userprefs
*.sln.docstates
*.sln.docstates.xml
*.user
*.userprefs
*.scc
*.ntvs*
*.njsproj
*.sln
*.sw?
*.ncb
*.ninja
*.ninja_log
*.sln.docstates
